*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    

}
.buttons{
    text-align: center;
}
.botao1{
    background-color: #41ac20;
    border: none;
    color:white;
    padding: 16px 24px;
    font-size: 16px;
    margin:6px 4px ;
    cursor: pointer;
    border-radius: 6px;
}

.botao1:hover{
    background-color: #215511;
}

.botaoAzul{
    background-color: #2649bb;
}

.botaoAzul:hover{
    background-color: #132357;
}
.myTable{
    width: 400px;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

.myTable td, th{
    border: 1px solid #ddd;
    padding: 8px;

}
.myTable th{
    background-color: cornflowerblue;
    padding: 12px 0;
    color: white;
}

.myTable tr:hover{
    background-color: #ddd;
}
.my-form{
    border-radius: 6px;
    background-color: #f2f2f2;
    padding: 20px 16px;
    width: 300px ;
    margin: auto;

}

.my-form input {
    width: 100%;
    padding: 12px 8px;
    border: 1px solid #ddd;
    border-radius: 6px;

}
.toda-largura{
    width: 100%;
    margin: 6px 0;

}
.my-form-group {
    margin-bottom: 6px;
}
